.paticka{
    background-color: #fafafa;
    padding: 1rem 0;
    &__obsah{
        max-width: 50rem;
        margin: 0 auto;
        padding: 1rem;
    }
    &__sloupce{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 1rem;
    }
    &__sekce{
        &--nadpis{
            margin: 0;
            font-size: 1.1em;
            color: #303030;
        }
    }
    &__seznam{
        list-style-type: none;
        margin: 0.5em 0 0;
        padding: 0;
        &--polozka{
            line-height: 1.1;
            padding: 0.2em 0;
        }
        &--odkaz{
            text-decoration: none;
            color:#303030;
        }
    }
}