<footer class="paticka">
    <div class="paticka__obsah">
        <div class="paticka__sloupce">
            <section class="paticka__sekce">
                <h4 class="paticka__sekce--nadpis">Podobné weby</h4>
                <ul class="paticka__seznam">
                    {% for web in podobneWeby %}
		                <li class="paticka__seznam--polozka"><a class="paticka__seznam--odkaz" href="{{ web.adresa }}">{{ web.nazev }}</a></li>
	                {% endfor %}
                </ul>
            </section>
            <section class="paticka__sekce">
                <h4 class="paticka__sekce--nadpis">Obecné</h4>
                <ul class="paticka__seznam">
                    {% for odkaz in obecneOdkazy %}
		                <li class="paticka__seznam--polozka"><a class="paticka__seznam--odkaz" href="{{ odkaz.adresa }}">{{ odkaz.nazev }}</a></li>
	                {% endfor %}
                </ul>
        </div>
    </div>
</footer>