<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILMY.cz</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="/obrazky/favicon.svg"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-LK7QHQFH7B"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-LK7QHQFH7B');
      </script>
</head>
<body>
  <div class="layout">
    {% include "hlavicka.njk" %} 
    {{ content | safe }} 
    {% include "zapati.njk" %} 
  </div>
</body>
</html>