---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---

<section class="telo">
  <div class="detail">
    <main class="detail__hlavni">
      <h3 class="nadpis">{{ film.nazev }}</h3>
      <dl class="detail__podrobnosti">
        <dt class="detail__podrobnosti--popisek">Rok:</dt>
        <dd>{{ film.rok }}</dd>
        <dt class="detail__podrobnosti--popisek">Země:</dt>
        <dd>{{ film.zeme | join(', ') }}</dd>
        <dt class="detail__podrobnosti--popisek">Žánr:</dt>
        <dd>{{ film.zanr | join('/') }}</dd>
        <dt class="detail__podrobnosti--popisek">Délka:</dt>
        <dd>{{ film.delka}} minut</dd>
      </dl>
      <h3 class="podnadpis">Obsah</h3>
      {% if film.obsah.autor.odkaz %} 
        <p class="detail__obsah">{{ film.obsah.text }} (<a class="detail__odkaz" href="{{ film.obsah.autor.odkaz }}">{{ film.obsah.autor.jmeno }}</a>)</p>
      {% else %}
        <p class="detail__obsah">{{ film.obsah.text }} (<em>{{ film.obsah.autor.jmeno }}</em>)</p>
      {% endif %}
    </main>
    <aside class="detail__dalsi">
      <img class="detail__obrazek" src="{{ film.plakat.url }}" width="{{ film.plakat.sirka }}" height="{{ film.plakat.vyska }}">
      <h3 class="podnadpis">Hodnocení</h3>
      <span class="hodnoceni hodnoceni--skore-{{ film.hodnoceni }}"></span>
      {% if film.souvisejici %} 
        <h3 class="podnadpis">Související filmy</h3>
        {% set filmy = film.souvisejici %}
        {% include "seznamFilmu.njk" %}
      {% endif %}
    </aside>
  </div>
</section>